<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DependencyCheckerSection" type="DependencyChecker.Configuration.DependenciesSection, DependencyChecker"/>
  </configSections>

  <DependencyCheckerSection
      title="Dependency checking tool"
      description="These dependencies are required if you want to download and view the source code and documentation.">
    <!-- 
    Register all of the evaluators that we'll need.
    This associates a name (of our choice) with a specific type implementing ICheckEvaluator.
    All of the included evaluators are registered below.
    -->
    <checkEvaluators>
      <checkEvaluator name="Registry" type="DependencyChecker.CheckEvaluators.RegistryCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Software" type="DependencyChecker.CheckEvaluators.SoftwareCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Expression" type="DependencyChecker.CheckEvaluators.ExpressionCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Hotfix" type="DependencyChecker.CheckEvaluators.HotFixCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="NotSupported" type="DependencyChecker.CheckEvaluators.NotSupportedCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Wmi" type="DependencyChecker.CheckEvaluators.WmiCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="WPI" type="DependencyChecker.CheckEvaluators.WpiCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="CodeBased" type="DependencyChecker.CheckEvaluators.CodeBasedCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Certificate" type="DependencyChecker.CheckEvaluators.CertificateCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="MultiCertificate" type="DependencyChecker.CheckEvaluators.MultiCertificateCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="LoadProfile" type="DependencyChecker.CheckEvaluators.ProfileCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Database" type="DependencyChecker.CheckEvaluators.DatabaseCheckEvaluator, DependencyChecker" />
      <checkEvaluator name="Sql" type="DependencyChecker.CheckEvaluators.SqlCheckEvaluator, DependencyChecker" />
      <checkEvaluator name="File" type="DependencyChecker.CheckEvaluators.FileCheckEvaluator, DependencyChecker" />
    </checkEvaluators>

    <!--
    We initialize instances of the evaluators registered above. 
    We can have multiple evaluators of the same type.
    -->
    <checks>
      <!--
      <check name="SqlSetup" checkType="Sql" value="" />
      <check name="DbSetup" checkType="Database" value="alias=MyServerAlias!db=MyDatabase" />
      <check name="IIS7CGCC" checkType="WPI" value="WASProcessModel!WASNetFxEnvironment!WASConfigurationAPI!MetabaseAndIIS6Compatibility!IIS7"/>
      <check name="VS2010" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber|HKLM:SOFTWARE\Wow6432Node\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber|1033|"/>
      <check name="WindowsAzureToolsVS2010" checkType="WPI" value="WindowsAzureToolsVS2010"/>
      <check name="AllCertificates" checkType="MultiCertificate" value="LocalMachine,My,5A074D678466F59DBD063D1A98B1791474723365!LocalMachine,TrustedPeople,5A074D678466F59DBD063D1A98B1791474723365"/>
      <check name="WIFRuntime" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Windows Identity Foundation\Setup\v3.5|HKLM:SOFTWARE\Wow6432Node\Microsoft\Windows Identity Foundation\Setup\v3.5||6.1.7600.0"/>
      <check name="WIFSDK" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Windows Identity Foundation SDK\Setup\v4.0|HKLM:SOFTWARE\Wow6432Node\Microsoft\Windows Identity Foundation SDK\Setup\v4.0||6.1.7600.1"/>
      <check name="ProfileIsEnabled" checkType="LoadProfile" value="not-used" />
      <check name="MVC3" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{DCDEC776-BADD-48B9-8F9A-DFF513C3D7FA}|HKLM:SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\{DCDEC776-BADD-48B9-8F9A-DFF513C3D7FA}||" />
      <check name="AppFabricSDK" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Windows Azure AppFabric\V1.5|HKLM:SOFTWARE\Wow6432Node\Microsoft\Windows Azure AppFabric\V1.5|ProductVersion|"/>
      <check name="WAPPSCmdlets" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\PowerShell\1\PowerShellSnapIns\WAPPSCmdlets|HKLM:SOFTWARE\Microsoft\PowerShell\1\PowerShellSnapIns\WAPPSCmdlets||" />
      -->
    </checks>

    <!--
    Here we define the dependencies using the checks defined above. 
    These entries provide additional information such as explanatory text for the user
    and friendly display names as well as identify prerequisites.
    -->
    <MinimumRequirements MinimumOSBuildNumber="3790">
      <!--
      <dependency check="SqlSetup"
        enabled="true"
        category="Required"
        title="Sql Server 2008"
        explanation="Sql Server is required to open the samples."
        downloadUrl="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=01af61e6-2f63-4291-bcad-fd500f6027ff"/>

      <dependency check="DbSetup"
        enabled="true"
        category="Required"
        title="Database for samples"
        explanation="Database for samples"
        scriptName="cmd:DependencyChecker.Commands.CreateDatabaseCommand"
        settings="alias=MyServerAlias!db=MyDatabase"
        dependsOn="SqlSetup"/>

      <dependency check="IIS7CGCC"
        enabled="true"
        category="Required"
        title="Internet Information Server 7"
        explanation="Internet Information Server 7 is required run the samples."
        scriptName="cmd:DependencyChecker.Common.WpiCommand"
        settings="WASProcessModel!WASNetFxEnvironment!WASConfigurationAPI!MetabaseAndIIS6Compatibility!IIS7"/>

      <dependency check="ProfileIsEnabled"
       enabled="true"
       category="Required"
       title="Application Pool User Profile Enabled"
       explanation="Application Pool User Profile Enabled should be configured"
       scriptName="cmd:DependencyChecker.Commands.SetupProfileCommand"
       dependsOn="IIS7CGCC"/>

      <dependency check="VS2010"
        enabled="true"
        category="Required"
        title="Visual Studio 2010"
        explanation="Visual Studio 2010 is required to run the samples."
        downloadUrl="http://go.microsoft.com/fwlink/?LinkId=178875"/>

      <dependency check="MVC3"
        enabled="true"
        category="Required"
        title="MVC 3 Framework"
        explanation="MVC 3 is required to run the samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommand"
        settings="MVC3"
        dependsOn="VS2010"/>

      <dependency check="WindowsAzureToolsVS2010"
        enabled="true"
        category="Required"
        title="Windows Azure Tools for VS 2010"
        explanation="Windows Azure SDK is required to open all samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommand"
        settings="WindowsAzureToolsVS2010"
        dependsOn="VS2010"/>

      <dependency check="AppFabricSDK"
        enabled="true"
        category="Required"
        title="Windows Azure AppFabric SDK"
        explanation="Windows Azure AppFabric SDK is required to open all samples."
        downloadUrl="http://go.microsoft.com/fwlink/?LinkID=226941" />

      <dependency check="WIFRuntime"
        enabled="true"
        category="Required"
        title="Windows Identity Foundation Runtime"
        explanation="In order to run the samples, you need Windows Identity Foundation Runtime installed."
        downloadUrl="http://go.microsoft.com/fwlink/?LinkId=178879"/>

      <dependency check="WIFSDK"
        enabled="true"
        category="Required"
        title="Windows Identity Foundation SDK"
        explanation="In order to run the samples, you need Windows Identity Foundation SDK installed."
        downloadUrl="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=c148b2df-c7af-46bb-9162-2c9422208504"
        dependsOn="WIFRuntime"/>

      <dependency check="AllCertificates"
        enabled="true"
        category="Required"
        title="Certificates for samples"
        explanation="Certificates that the samples run on. These certificates are for development purposes only."
        scriptName="cmd:DependencyChecker.Commands.CertificateSetupCommand"
        settings=".\certs\localhost.pfx,TrustedPeople,xyz!.\certs\localhost.pfx,My,xyz!.\certs\root.cer,AuthRoot,"
        dependsOn="IIS7CGCC"/>

      <dependency check="WAPPSCmdlets"
        enabled="true"
        category="Only for deploying to SQL Azure"
        title="Windows Azure Platform Cmdlets"
        explanation="WAP Cmdlets. This should be installed as a PowerShell Snap-In."
        downloadUrl="http://wappowershell.codeplex.com/releases"
        dependsOn="WindowsAzureToolsVS2010"/>
        -->

    </MinimumRequirements>
  </DependencyCheckerSection>

  <startup>
    <startup>
      <supportedRuntime version="v3.5"/>
      <supportedRuntime version="v4.0.30319"/>
    </startup>
  </startup>
</configuration>