<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DependencyCheckerSection" type="DependencyChecker.Configuration.DependenciesSection, DependencyChecker"/>
  </configSections>

  <DependencyCheckerSection
      title="Dependency checking tool"
      description="These dependencies are required if you want to download and view the source code and documentation.">
    <!-- 
    Register all of the evaluators that we'll need.
    This associates a name (of our choice) with a specific type implementing ICheckEvaluator.
    -->
    <checkEvaluators>
      <checkEvaluator name="ValueInConfigEvaluator" type="SampleCheck.CheckValueInConfig, SampleCheck"/>
      <checkEvaluator name="FailFirstEvaluator" type="SampleCheck.CheckStaticBoolean, SampleCheck"/>
      <checkEvaluator name="Database" type="DependencyChecker.CheckEvaluators.DatabaseCheckEvaluator, DependencyChecker" />
      <checkEvaluator name="Sql" type="DependencyChecker.CheckEvaluators.SqlCheckEvaluator, DependencyChecker" />
    </checkEvaluators>

    <!--
    We initialize instances of the evaluators registered above. 
    We can have multiple evaluators of the same type.
    -->
    <checks>
      <check name="AlwaysTrueCheck" checkType="ValueInConfigEvaluator" value="True"/>
      <check name="FirstTimeFalseCheck" checkType="FailFirstEvaluator" value="False"/>
      <check name="SqlSetup" checkType="Sql" value="" />
      <check name="DbSetup" checkType="Database" value="alias=MyDbAlias!db=DepCheckSampleDb" />
    </checks>

    <!--
    Here we define the dependencies using the checks defined above. 
    These entries provide additional information such as explanatory text for the user
    and friendly display names as well as identify prerequisites.
    -->
    <MinimumRequirements MinimumOSBuildNumber="3790">
      <dependency check="AlwaysTrueCheck"
        enabled="true"
        category="Required"
        title="Read a value from the app.confg"
        explanation="This dependency should be found on the first scan." />

      <dependency check="FirstTimeFalseCheck"
       enabled="true"
       category="Required"
       title="Checks the value of a static boolean."
       explanation="This highly contrived sample should fail until the user clicks 'Install now'."
       scriptName="cmd:SampleCheck.SetStaticTrueCommand,SampleCheck" />

      <dependency check="SqlSetup"
        enabled="true"
        category="Required"
        title="Sql Server 2008"
        explanation="Sql Server is required to open the samples."
        downloadUrl="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=01af61e6-2f63-4291-bcad-fd500f6027ff"/>

      <dependency check="DbSetup"
        enabled="true"
        category="Required"
        title="Database for samples"
        explanation="Database for samples"
        scriptName="cmd:DependencyChecker.Commands.CreateDatabaseCommand"
        settings="alias=MyDbAlias!db=DepCheckSampleDb"
        dependsOn="SqlSetup"/>

    </MinimumRequirements>
  </DependencyCheckerSection>

  <startup>
    <startup>
      <supportedRuntime version="v3.5"/>
      <supportedRuntime version="v4.0.30319"/>
    </startup>
  </startup>
</configuration>